<h3><strong>注文履歴詳細</strong></h3>

<div calss="row">
    <div class="col-xs-8">
    	<strong>注文情報</strong>
  	    <table class="table table-bordered table-condensed">
          <tbody>
              <tr>
                <th class="info">注文日</th>
          	    <td class="text-left">
                  <%= @order.created_at.strftime('%Y/%m/%d %H:%M') %>
                </td>
              </tr>
              <tr>
                <th class="info">配送先</th>
                <td class="text-left">
                  <%= @order.post_code %><br>
                  <%= @order.address %><br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <th class="info">支払方法</th>
                <td class="text-left">
                  <%= @order.payment_method %>
                </td>
              </tr>
              <tr>
                <th class="info">ステータス</th>
                <td class="text-left">
                  <%= @order.order_status %>
                </td>
              </tr>
          </tbody>
        </table>
    </div>

    <div class="col-xs-3 billing">
      <strong>請求情報</strong>
        <table class="table  table-bordered table-condensed">
            <tr>
              <th class="info">配送料</th>
              <td class="col-xs-5">
                ¥<%= @order.postage.to_s(:delimited, delimiter: ',') %>
              </td>
            </tr>
            <tr>
              <th class="info">商品合計</th>
              <td class="col-xs-5">
                ¥<%= (@order.total_payment - @order.postage).to_s(:delimited, delimiter: ',') %>
              </td>
            </tr>
            <tr>
              <th class="info">ご請求金額</th>
              <td class="col-xs-5">
                ¥<%= @order.total_payment.to_s(:delimited, delimiter: ',') %>
              </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-7 order-details">
    	<strong>注文内容</strong>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr class="info">
                <th>商品</th>
                <th>単価(税込)</th>
                <th>個数</th>
                <th>小計</th>
            </tr>
          </thead>
          <tbody>
        	<% @order_details.each do |order_detail| %>
            <tr>
                <td><%= order_detail.item.name %></td>
                <td>¥<%= (order_detail.item.price_without_tax * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
                <td><%= order_detail.quantity %></td>
                <td>¥<%= ((order_detail.item.price_without_tax * 1.1).floor * (order_detail.quantity)).to_s(:delimited, delimiter: ',') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
</div>