<div class="row">
  <div class="col-xs-12">
    <h3><strong>マイページ</strong></h3>
        <table class="table table-bordered table-condensed">
            <p>
                <strong class="information-link">登録情報</strong>
                <%= link_to " 編集する", customers_customers_edit_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
                <%= link_to " パスワードを変更する", edit_customer_password_path, class: "glyphicon glyphicon-pencil btn btn-warning" %>
            </p>
            <tr>
                <td class="col-xs-2">氏名</td>
                <td><%= current_customer.last_name %>&nbsp;<%= current_customer.first_name %></td>
            </tr>

            <tr>
                <td class="col-xs-2">カナ</td>
                <td><%= current_customer.last_name_kana %>&nbsp;<%= current_customer.first_name_kana %></td>
            </tr>

            <tr>
                <td class="col-xs-2">郵便番号</td>
                <td><%= current_customer.postal_code %></td>
            </tr>

            <tr>
                <td class="col-xs-2">住所</td>
                <td><%= current_customer.address %></td>
            </tr>

            <tr>
                <td class="col-xs-2">電話番号</td>
                <td><%= current_customer.phone_number %></td>
            </tr>

            <tr>
                <td class="col-xs-2">メールアドレス</td>
                <td><%= current_customer.email %></td>
            </tr>
        </table>
        <p>
            <strong class="shipping-link">配送先　</strong>
            <%= link_to " 一覧を見る", customers_shipping_addresses_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
        </p>
        <p>
            <strong class="shipping-link">注文履歴</strong>
            <%= link_to " 一覧を見る", customers_orders_path, class: "glyphicon glyphicon-folder-open btn btn-info" %>
        </p>
  <div>
</div>