
  <h2>会員情報編集</h2>

  <%= form_for(@customer, url: admins_customer_path) do |f| %>

  <table class="row table">
    <tr>
      <th class="col-xs-2"><%= f.label :会員ID %></th>
      <td class="col-xs-10"><%= f.text_field :id  , class:"form-control"%></td>
    </tr>

    <tr>
      <th><%= f.label :氏名 %></th>
      <td><%= f.text_field :last_name, class:"form-control" %><br>
          <%= f.text_field :first_name, class:"form-control" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :フリガナ %></th>
      <td><%= f.text_field :last_name_kana, class:"form-control" %><br>
      <%= f.text_field :first_name_kana, class:"form-control" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :郵便番号 %></th>
      <td><%= f.text_field :postal_code, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :電話番号 %></th>
      <td><%= f.text_field :phone_number, class:"form-control" %></td>
    </tr>

    <tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.text_field :email , class:"form-control"%></td>
    </tr>

    <tr>
      <th><%= f.label :会員ステータス %></th>
      <td><%= f.select :is_customer_status, [["有効会員","false"], ["退会済み","true"]], class:"form-control" %></td>
    </tr>
  </table>


      <div class="row text-right">
        <%= f.submit "変更を保存する" ,class: "btn btn-success " %>
      </div>
  <% end %>
