
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
    <%= form_for(@item, url: admins_item_path) do |f| %>

    <div class="col-xs-5">
     <h2>商品編集</h2>

      <div class="item-new-form">
        <%= f.attachment_field :image %>
      </div>
      <div class="product-img" style="margin-top: 20px;">
      <%= attachment_image_tag @item, :image, :fill, 400, 400, fallback: 'no_image.jpg' %>
      </div>
    </div>

    <br><br><br>
      <div class="col-xs-5 col-xs-offset-2">
        <table class="new-form-table">
          <tbody>

            <tr>
              <th>商品名</th>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>

            <tr>
              <th>商品説明</th>
              <td><%= f.text_area :description, class: "form-control" %></td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td>          <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %></td>
            </tr>

            <tr>
              <th>税抜価格</th>
              <td>  <%= f.text_field :price_without_tax, class: "form-control" %></td>
            </tr>

            <tr>
              <th>販売ステータス</th>
              <td><%= f.select :is_sales_status, [["販売中","false"], ["販売不可","true"]], include_blank: "--選択してください--" %></td>
            </tr>
          </tbody>
        </table>

        <div class="text-right">
        <%= f.submit "更新" ,class: "btn btn-primary text-right" %>
        </div>
        </div>
        <% end %>

    </div>
  </div>
</div>
