
<div class="pull-right" style="margin-bottome: 10px;">
	<%= search_form_for(@search, url:items_path) do |f| %>
		<%= f.label :name, "商品キーワード" %>
		<%= f.search_field :name_cont %>
		<%= f.submit %>
	<% end %>
</div>

<%# 
	以下ransackによる検索機能の説明
	
	search_form_forは、ransack特有の書き方で、form_forのransack版に用意されているもの。
	f.search_field :name_cont もransack特有の書き方
	:name_cont は :検索対象にしたいカラム名_検索方法
	ここでのcontというのはcontains valueの意味で部分一致という意味です。
	他にも
	*_eq 等しい
	*_not_eq 等しくない
	*_lt より小さい
	*_lteq より小さい（等しいものも含む）
	*_gt より大きい
	*_gteq より大きい（等しいものも含む）
 %>

<div class="row">
	<div class="col-xs-2">
		<%= render 'customers/items/sidebar', genres: @genres %>
	</div>

  <h2 style="margin: 20px 0;">商品一覧(全<%= @items_all.count %>件)</h2>
	<div class="col-xs-9 col-xs-offset-1">
		<div class="product-card-content">


		<% @items.each do |item| %>
		<div class="col-xs-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0;">
			<%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
				<%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg',fallback: "no_image.jpg" %><br>
				<%= item.name %>
				¥<%= item.price_without_tax.to_s(:delimited, delimiter: ',') %>

			<% end %>
		</div>
		<% end %>
		</div>
	</div>
	<div style="text-align: center;"><%= paginate @items %></div>
</div>
