
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">
      <h2>注文明細</h2>


  <div class="col-xs-7">
    <table class="table">
      <tbody>
      <tr>
        <th>購入者</th>
        <td><%= link_to admins_customer_path(@order.customer) do %>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
      </tr>

      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>

      <tr>
        <th>注文ステータス</th>
        <td>
        <%= form_for (@order), url:admins_order_path(@order) do |f| %>
        <%= f.select :order_status,Order.order_statuses.keys.to_a %>
        <%= f.submit "更新", class: "btn btn-success" %>
        <% end %>
        </td>
      </tr>

    </tbody>
  </table>

      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>


        <tbody>
      <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.price).floor.to_s(:delimited, delimiter: ',') %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= (order_detail.price * order_detail.quantity).floor.to_s(:delimited, delimiter: ',') %></td>
            <td>
              <%= form_for (order_detail), url:admins_order_detail_path(order_detail) do |f|  %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.to_a %>
              <%= f.submit '更新',class:"btn btn-success" %>
              <% end %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <div class="col-xs-4">
      <table class="table">
        <tbody>

          <tr>
            <td>商品合計</td>
            <td><%= (@order.total_payment - @order.postage).to_s(:delimited, delimiter: ',') %></td>
          </tr>

          <tr>
            <td>送料</td>
            <td><%= @order.postage.to_s(:delimited, delimiter: ',') %></td>
          </tr>

          <tr>
            <td>請求合計金額</td>
            <td><%= @order.total_payment.to_s(:delimited, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>
